html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  
}



                                /* Basic Navigation and Flexbox */

body {
    text-align: center;
    margin: auto auto;
    color: #fff; 
    background: linear-gradient(90deg, rgba(27,40,56,1) 0%, rgba(46,66,90,1) 25%, rgba(51,73,98,1) 50%, rgba(37,54,74,1) 75%, rgba(27,40,56,1) 100%);
    justify-content: space-evenly;
}



                                    /* Formatting */

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top:10px;
}

ul {
    list-style-type: circle;
}

                                    /* Buttons */
    button {
        background-color:   #d2a747;
        width: 15em;
        height: 3em;
        margin: 10px; 
        border-radius: 8px;
        text-align: center;
        font-size: large;
    }

        button:hover {
            background-color: #ffcc5a;
        }

p#d, p#r{
    font-size: 28px;
}

a#id{
    margin-bottom: 10px;
}

a#ober{
    margin-bottom: -5px;
}