html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background-color: #171a21;
}

right, left {
    display: flex;

    }

right {
    order: 2;
    width: 150px; 
    padding: 1em; 
    border: 1px solid grey;
    border-radius: 30px 30px 30px 30px;
    margin: 10px;
    background: #142a3b;
    
    
}

left {
    width: 500 px;
    order: 1;
    display: flex;
    flex-direction: column;
    
}

h1, h2 {
	font-size: 30px;
	text-align: right;
}


p, li {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 1px;
}


body {
    display: flex;
  margin: auto auto;
  color: #c5c3c0; 
  background-color: #1B3B54;
  border: 5px solid black;
    border-radius: 20px 20px 20px 20px;
    justify-content: space-evenly
}

nav {
	background-color: #142a3b;
	padding: 1em 2em 2em 2em;
    order: 1;
    border: 1px solid grey;
    border-radius: 0 0 30px 30px;
}

subheader {
	border: white 10px;
	display: flex;
	justify-content: space-between;
	margin-top: 2em;


}

sID {
	text-align: left;
	font-size: 16px;
	order:1
}

reqreturn {
	text-align: left;
	font-size: 16px;
	order: 2;
}

section {
	display: column;
	background-color: #1B3B54;
	padding: 2em 2em 2em 2em;
    order: 2;
}


controlpanel {
	display: flex;
	justify-content: space-evenly;
}



img {
  display: block;
  margin: 0 auto;
}

button {

 background-color:   #5c7e10;
width: 13em;
margin: 10px; 
border: 2px solid black;
border-radius: 4px;

}
button:hover {
background-color: #85b619;

}
