html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
}





                        /* Basic Navigation and Flexbox stuff */

body {
    display: flex;
    
    margin: auto auto;
    color: #c5c3c0; 
    background-color: #1B3B54;
    justify-content: space-evenly
}

right {
    order: 2;
    padding: 1em; 
    border-radius: 14px;
    margin: 10px;
    background: #142a3b;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 400px;
}


left {
    order: 1;
    display: flex;
    flex-direction: column;
}


nav {
	background-color: #142a3b;
	padding: 1em 2em 2em 2em;
    order: 1;
    border-radius: 0 0 14px 14px;
}


section {
	display: column;
	background-color: #1B3B54;
	padding: 2em 2em 2em 2em;
    order: 2;
}



                                    /* Formatting stuff */

h1, h2 {
    font-size: 30px;
    text-align: right;
}


img {
    display: block;
    margin: 0 auto;
}


ul {
    list-style-type: circle;
}


button {
    background-color:   #d2a747;
    width: 20em;
    height: 3em;
    margin: 10px; 
    border-radius: 8px;
    text-align: center;
}


        button:hover {
        background-color: #ffcc5a;
        }


        button.friendslist {
          background-color:#c5c3c0;
            visibility: hidden;
            height: 3em;
            width: 20em;
            margin: 4px;
        }

        button#moreFriends{
            visibility: hidden;
            width: 16em;
            height: 6em;
            color: black;
            padding: 0;


        }
        button.newSteamID{
            width: 20em;
        }


navList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

        .tablink {
          background-color: #555;
          color: white;
          float: left;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          font-size: 17px;
          width: 25%;
        }


        .tablink:hover {
          background-color: #777;
        }





button.tablink{
    width: 14em;
}


button.friendslist:hover {
  background-color:#2d4150
}



a#adHocCounter{
    border-radius: 10px;
    background: #2d4150;
    color: #c5c3c0;
    text-align: center;
    font-size: 30px;
    /* height: 2.2em; */
    width: 2.4em;
    padding-top: 5;
    text-align: center;
    margin: 14px;

}



/* Table options: */

table {
    width: 100%;
    background: #3e5e76;
    margin-top: 30px;
    margin-bottom: 30px;
}

th {
    background: #142a3b;
    text-align: center;
    padding: 4px;

}

td {
  background: lightgrey;
    color: black;
    padding: 10px;

}




