html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
}


button.xHome{
    align-items: flex-end;
    width:25px;
    height:25px;
    text-align: center;
    background: lightgrey;
    color: black;
    border-radius:15px;
}



playtimeNumber{
    background: #577e87;
    position: relative;
    color:white;
    left: -35px;
    border: 3px white solid;
    border-radius: 13px;
    font-size: 10px;
    top: -40px;
}

img.friendsPic{
        width: 40px;
        height: 40px;
        border: 6px #d2a747 solid;
        border-radius: 400px;
}

img.shareButton{
    width: 30px;
    background: white;
    border-radius: 5px;
    padding: 3px;
}

                        /* Basic Navigation and Flexbox stuff */

body {
    display: flex; 
    margin: auto auto;
    color: #c5c3c0; 
    background: linear-gradient(90deg, rgba(27,40,56,1) 0%, rgba(46,66,90,1) 25%, rgba(51,73,98,1) 50%, rgba(37,54,74,1) 75%, rgba(27,40,56,1) 100%);
    justify-content: space-evenly;
}

right {
    order: 2;
    padding: 1em; 
    padding-top: 2em;
    border-radius: 14px;
    margin: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 40%;
    background-color: #142a3b;
    border: 2px #0c1118 solid;
    box-shadow: 4px 4px 20px #0c1118;
}



left {
    order: 1;
    display: flex;
    flex-direction: column;
}


nav {
	background-color: #142a3b;
	padding: 1em 2em 2em 2em;
    order: 1;
    border-radius: 0 0 14px 14px;
    box-shadow: 4px 4px 20px #0c1118;
    border: 2px #0c1118 solid;
}


section {
	display: column;
	padding: 2em 2em 2em 2em;
    order: 2;
}



                                    /* Formatting stuff */

h2 {
    font-size: 30px;
    text-align: right;
}


h1 {
    font-size: 40px;
    text-align: left;
}

ul {
    list-style-type: circle;
}


button {
    background-color:   #d2a747;
    width: 20em;
    height: 3em;
    margin: 10px; 
    border-radius: 8px;
    text-align: center;
    font-size: large;
}


        button:hover {
        background-color: #ffcc5a;
        }


        button.flButton {
          background-color:#c5c3c0;
            height: 3em;
            width: 60%;
            margin-top: 8px;
        }
        
        button.friendslist:hover{
            background: #d2d1ce;
        }

        button#moreFriends{
            visibility: hidden;
            width: 16em;
            height: 6em;
            color: black;
            padding: 0;
        }

        button.newSteamID{
            width: 80%;
        }
        

        button.iconButton{
            width:95%;
        }

        button#deleteSteamID{
            width: 3.5em;
            background: #c5c3c0;
            visibility: hidden;
        }
        button#deleteSteamID:hover{
            background: #d2d1ce;
        }

        button#homeButton{
            display: none;
            width: 5em;
            background: #c5c3c0;    

        }

        button.chatButton{
            width: 3.5em;
            background: #c5c3c0;
        }
        button.chatButton:hover{
            background: #d2d1ce;
        }


navList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

        .tablink {
          float: left;
          outline: none;
          cursor: pointer;
          font-size: 17px;
          width: 25%;
        }

        #inputSearchErgebnisliste {
            background: #c5c3c0;
            margin-left: 4.3%;
            margin-top: 15px;
            width: 25%;
            font-size: 16px; /* Increase font-size */
            padding: 12px 20px 12px 40px; /* Add some padding */
            border: 1px solid #ddd; /* Add a grey border */
            border-radius: 8px;
            margin-bottom: 12px; /* Add some space below the input */
        }
        #inputSearchErgebnisliste:hover{
            width: 51.4%;

        }



a#adHocCounter{
    visibility: hidden;
    border-radius: 10px;
    background: #577e87;
    color: #c5c3c0;
    font-size: 30px;
    padding: 10px 22px 10px 22px;
    justify-content: flex-end;
}



/* Table options: */

table {
    width: 100%;
    background: #c5c3c0;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 14px;
}

th {
    background: #142a3b;
    text-align: center;
    padding: 10px;
}

th:first-child{
    width: 18%;
    border-radius: 14px 0px 0px 0px;
}
th:last-child{
    width: 40%;
    border-radius: 0px 14px 0px 0px;
}


td {
    border-bottom: 1px solid lightgrey;
    color: black;
    padding: 10px;

}


td:first-child{

}

tr:last-child{
    border-bottom: 0px solid black;
}


/* sonstiges */

p.friendEntry {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#absatzListe {
    display: none;
}

flHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

